body {
	margin-top:50px;
}
.sidebar {
	background:#f5f5f5;
}

.glyphicon:after {
	content: "\00a0";
}
@media(min-width:760px) {
	.sidebar {
		position:fixed;
		top:50px;
		height:100%;
		left:0px;
	}
}
	

