<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<import resource="classpath:/appconfig-data.xml" />
	<context:annotation-config></context:annotation-config>

	<bean id="siteManagementUseCase" class="usecases.SiteManagementUseCase" />
	<bean id="pageManagementUseCase" class="usecases.PageManagementUseCase" />
	<bean id="editSiteUseCase" class="usecases.EditSiteUseCase" />
	<bean id="addSiteUseCase" class="usecases.AddSiteUseCase" />
	<bean id="addPageUseCase" class="usecases.AddPageUseCase" />
	<bean id="editPageUseCase" class="usecases.EditPageUseCase" />
	<bean id="siteSettingsUseCase" class="usecases.SiteSettingsUseCase" />
</beans>